img {
    -ms-interpolation-mode: bicubic;
}

.contact-bar {
    @include transition(all 1s);
    overflow: hidden;
    height: auto;
    min-height: 50px;
    width: 100%;
    background: rgba($color-grey--light, 1);
    opacity: 1;
    box-shadow: 0px 2px 10px -5px $color-grey--med inset;
    ul {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
    }
    span {
        vertical-align: middle;
        display: inline-block;
        padding-top: 7px;
        padding-right: 10px;
    }
    .heading{
        width:100%;
        text-align: center;
    }
    .details{
        width: 210px;
        margin: 0 auto 20px;
    }
    .icon {
        padding-top: 5px;
        margin: 2.5px;
        float: right;
        i:before {
            width: 30px;
            height: 30px;
        }
    }
}

.contact-bar.mobile{
  width: 100%;
  box-shadow: none;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
      .icon, span{
        float: right;
        padding: 0;
        padding-top: 7.5px;
      }
      span {
          float: left;
      }
}



.contact-bar.hidden {
    height: 0;
    opacity: 0;
}

.chunk-inner--contact {
    margin: 0 auto;
    width: 92%;
}

.tabs.primary {
    z-index: 9999;
    position: absolute;
    border-top: 1px solid #bbb;
    margin-top: 128px;
    border-bottom: none;
    display: none;
}

.header {
    @include db-outer-container;
    width: 100%;
    background: $color-background;
    height: 75px;
}

.logo-wrap,
.menu-wrap {
    padding-top: 10px;
}

.logo-wrap {
    left: 0;
    @include span-columns(12);
    position: absolute;
    z-index: 100;
}

.logo__img--a,
.logo__img--b {
    float: left;
    max-height: 30px;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.logo {
    display: block;
    float: left;
    margin-bottom: 10px;
    padding-left: 10px;
}

.comp__name {
    max-width: 300px;
    float: left;
    line-height: 16px;
    margin-top: 20px;
}

.comp__name__heading h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.comp__name__sub-heading h5 {
    font-size: em(16);
    text-align: center;
    font-weight: 500;
}

.menu-wrap {
    @include span-columns(11);
    right: 0;
    position: absolute;
}

.menu {
    width: 95%;
    margin: 0 auto;
    float: right;
    z-index: 100;
    ul {
        float: right;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 7px;
    }
}

.logged-in .menu {
    width: 100%;
}

.menu__item {
    color: $color-white;
    @extend %font-sans-serif-light;
    font-size: em(17);
    display: none;
    margin-left: 15px;
    position: relative;
    z-index: 100;
    h5 {
        font-weight: 300;
    }
}

.mobile-nav .menu__item {
    display: block;
}

.menu__item.active {
    border-bottom: 2px solid $color-orange;
}

.menu-links__title {
    font-size: 1.65em;
}

@include media($mq-lap-up) {
  .contact-bar.mobile{
    display: none;
  }
    .tabs.primary {
        display: block;
    }
    .header {
        width: 95%;
        position: relative;
    }
    .logo-wrap,
    .menu-wrap {
        padding-top: 15px;
    }
    .logo__img--a,
    .logo__img--b {
        max-height: 60px;
    }
    .menu {
        ul {
            margin-top: 15px;
        }
    }
}

@include media($mq-desk-up) {
    .menu * {
        @include transition(all 1s);
    }
    .menu__item:hover {
        border-bottom: 2px solid $color-orange;
        h5 {}
    }
    .mobile-nav .menu__item {
        display: none;
    }
    .menu__item {
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        margin: 0px 15px;
        border-top: 1px solid $color-orange;
        border-bottom: 1px solid $color-orange;
    }
    .header {
        height: 125px;
        @include transition(all 1s);
        max-width: none;
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    .header > * {
        @include transition(all 1s);
    }
    .hero__image {
        margin-top: 125px;
    }
    .logo-wrap,
    .menu-wrap {
        @include span-columns(12);
        padding-top: 0px;
        position: relative;
        margin: 0px;
    }
    .logo-wrap {
        height: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .logo__item {
        // margin-right: 5%;
    }
    .logo {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        width: 20%;
        float: none;
        & * {
            @include transition(all 1s);
        }
    }
    .menu {
        text-align: center;
        float: none;
        ul {
            margin-top: 0px;
            float: none;
        }
    }
    // state for the fixed header
    .scroll-nav .header {
        width: 100%;
        max-width: none;
        background: rgba($color-grey--light, .8);
        position: fixed;
        height: 50px;
        z-index: 999;
        .logo-wrap {
            position: absolute;
            left: 20px;
            top: 0px;
            width: 20%;
            margin: 0;
        }
        .logo {
            width: 100%;
            .logo__img--a {
                max-height: 30px;
                margin-top: 10px;
            }
        }
        .menu-wrap {
            margin: 10px 0 0;
            width: 90%;
            float: right;
            .menu__item{
                margin: 0 5px;
            }
        }
    }
}

////////// Team Page ////////
.content-page {
    .header {
        background: $color-white;
        height: 50px;
    }
    .logo-wrap,
    .menu-wrap {
        //    position: static;
    }
    .logo__img--b {
        display: block;
    }
    .logo__img--a {
        display: none;
    }
    h5 {}
    @include media($mq-lap-up) {
        .header {
            height: 80px;
        }
    }
}
