.section__copy, .section__img{
  width: 100%;
  float: left;
  margin: 20px 0;
  img{
    max-width: 100%;
  }
}
 .chunk-section-nav{
  display: none;
 }
.chunk:nth-child(1n){
  margin-top: 20px;
}



@include media($mq-desk-up)  {
   .chunk-section-nav{
      display: block;
    }
  .section_nav--item{
    display: block;
    margin: 20px 3.333% 20px 0px;
    overflow: hidden;
    width: 22.5%;
    float: left;
    max-width: 25%;
    height: 200px;
    position: relative;
    background-position: center;
    background-color: $color-grey--med;
    background-size: auto 100%;
    @include transition(all 1s);
    &:hover{
      background-size: auto 120%;
      background-color: $color-grey--dark;
      .section_nav--title{
        background: rgba($color-grey--dark, .05);
      }
    }
    .section_nav--title{
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      padding: 5%;
      background: rgba($color-grey--dark, .6);
      @include transition(all 1s);
      h4{
         color: $color-white;
         text-shadow: 2px 2px 2px #000;
         font-size: em(24);
      }
    }
  }

  .chunk-section-nav .chunk-inner .section_nav--link:nth-child(4n){
    .section_nav--item{
          @include omega();
        }
  }

  .section--center{

  }
  .section__img, .section__copy{
    display: block;
  }
  .section__img{
    position: relative;
  }

  .section--right, .section--left{
    .section__img, .section__copy{
      @include span-columns(6);
    }
  }
  .section--right .section__img img{
      float: left;
  }

  .section--left{
    .section__img, .section__copy{
      float: left;
      img{
        float: right;
      }
    }
  }
}

