.node-webform{
  background: $color-grey--light;
  input[type='submit']{
    padding: 10px;
  }
  #webform-component-name,
  #webform-component-email,
  #webform-component-phone-number,
  #webform-component-what-can-we-do-for-you{
    float: left;
    width: 100%;
  }
  .form-actions{
    float: left;
    width: 100%;
  }
  @include media($mq-lap-up){
    #webform-component-name,
    #webform-component-email,
    #webform-component-phone-number{
//      max-width: 50%;
    }
  }
}