.rte{
  p{
    font-size: em(17);
//    padding: 20px 0;
  }
  h1{
    font-size: em(35);
    font-weight: 500;
    margin-bottom: 10px;
  }
  h2{
    font-size: em(25);
    font-weight: 500;
    margin-bottom: 10px;
  }
  h3{
    font-size: em(20);
    line-height: 24px;
    font-weight: 500;
  }
  h4{
    font-size: em(18);
    line-height: 24px;
    font-weight: 500;
  }
  ul{
    list-style: circle;
  }
  li{
//    border-bottom: 1px solid $color-grey--bord-bott;
    margin: 10px 0;
    line-height: em(18);
    p{
      line-height: em(18);
    }
    h2{
      margin-top: 10px;
    }
  }

  figure{

  }
  img{
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto !important;
  }
  table{

  }

  td{
    vertical-align: top;
    padding-right: 10px;
    font-weight: 500;
    p{
      margin-top: 0px;
    }
  }

//  figure {
//    position: relative;
//    padding-bottom: 50%;
//    height: 0;
//  }

  iframe {
    clip: auto;
  }
}

  @include media($mq-lap-up) {
    .center .rte{
      ul{
        @include columns(4);
        padding-left: 0;
        li{
          margin: 0 20px;
          -webkit-column-break-inside: avoid; /* Chrome, Safari */
          page-break-inside: avoid;           /* Theoretically FF 20+ */
          break-inside: avoid-column;         /* IE 11 */
          display: grid;                      /* Actually FF 20+ */
        }
      }
    }
    .left, .right{
      .rte{
        ul{
          @include columns(2);
          padding-left: 0;
          li{
            margin:0 20px;
            -webkit-column-break-inside: avoid; /* Chrome, Safari */
            page-break-inside: avoid;           /* Theoretically FF 20+ */
            break-inside: avoid-column;         /* IE 11 */
            display: grid;                      /* Actually FF 20+ */
          }
        }
      }
    }

  }
  @include media($mq-desk-up) {
  }